@{
    ViewData["Title"] = "Music";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url('/images/background-image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<body>

    <h1>Music Events</h1>

    <div id="events-list">
        @foreach (var eventItem in Model)
        {
            <div class="event-item">
                <img src="@eventItem.picture" alt="@eventItem.name">
                <div>
                    <h2>@eventItem.name</h2>
                    <p><strong>Description:</strong> @eventItem.description</p>
                    <p><strong>Date:</strong> @eventItem.date</p>
                    <p><strong>Time:</strong> @eventItem.time</p>
                    <p><strong>Category:</strong> @eventItem.category</p>
                    <form method="post" action="@Url.Action("Delete", "Home", new { id = eventItem.Id })">
                        <button type="submit" class="delete-btn">Delete</button>
                    </form>
                </div>

            </div>
        }
    </div>

</body>
